@use '../styles/partials/variables' as *;

.facebook{
    color: hsl(221deg 44% 41%);
}

.twitter{
    color: hsl(197deg 100% 47%);
}

.linkedin{
    color: hsl(199deg 85% 36%);
}

.instagram{
    color: hsl(357deg 70% 46%);
}

.google{
    color: hsl(6deg 69% 54%);
}


.righe_testi{
    border-bottom: 1px solid $color_grey;
    border-left: 2px solid $color_green;
}